.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* banner styles */
.banner{
    text-align: center;
    background-image: url(../styles/assets/Hero-bg.png);
}

.banner-title{
    font-weight: bolder;
    font-size: 48px;
    color: #0D1321;
}

.banner-description{
    font-weight: normal;
    font-size: 16px;
    color: #0D1321;
}

.btn-primary{
    background-color: #0D1321;
    font-weight: bold;
    color:#FFFFFF;
    border: none;
    font-size: 20px;
    padding: 16px 48px;
    border-radius: 5px;
}