.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* banner styles */
.banner{
    text-align: center;
    background-image: url(../styles/assets/Hero-bg.png);
}

.banner-title{
    font-weight: bolder;
    font-size: 48px;
    color: #0D1321;
}

.banner-description{
    font-weight: normal;
    font-size: 16px;
    color: #0D1321;
}

.btn-primary{
    background-color: #0D1321;
    font-weight: bold;
    color:#FFFFFF;
    border: none;
    font-size: 20px;
    padding: 16px 48px;
    border-radius: 5px;
}

/* why-dev styles */
.why-dev{
    margin: 100px;
}
.why-dev-content{
    text-align: center;
    font-size: ;
}

.why-dev-content-title{
    font-weight: bolder;
    font-size: 32px;
    color: #0D1321;
}

.why-dev-content-description{
    font-weight: normal;
    font-size: 16px;
    color: #0D1321;
}

.learn{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 50px 80px;
    box-shadow: 0px 5px 48px 0px rgba(0, 0, 0, 0.06);
}

.learn-title{
    font-weight: normal;
    font-size: 24px;
    color: #0D1321;
}

.learn-description{
    font-weight: normal;
    font-size: 16px;
    color: #0D1321;
}
.btn-secondary{
    background-color: #FFFFFF;
    font-weight: normal;
    color: #0D1321;
    font-size: 20px;
    padding: 8px 24px;
    border-radius: 2px;
}

/* inspiration styles */

.inspiration{
    text-align: center;
}

.inspiration-content-title{
    font-weight: bolder;
    font-size: 32px;
    color: #0D1321;
}

.inspiration-content-description{
    font-weight: normal;
    font-size: 16px;
    color: #0D1321;
}

/* target styles */

.target{
    margin: 100px;
}
.target-content{
    text-align:center ;
}
.skills{
    display: flex;
    /* gap: 10px; */
}

.skills-content{
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    /* max-width: 200px; */
    margin: 50px;
}

.skills-content-title{
    font-weight: bolder;
    font-size: 24px;
    color: #0D1321;
}

.skills-content-description{
    font-weight: normal;
    font-size: 16px;
    color: #0D1321;
}

a{
    font-weight: bold;
    color: #0D1321;
    font-size: 16px;
}

#sch{
    background-color: #fddfd8;
}
#scc{
    background-color: #d0e0ff;
}

#scj{
    background-color: rgb(255, 255, 219);
}